rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Regla para tu colección de "pedidos"
    match /pedidos/{pedidoId} {
      // Cualquiera puede crear un pedido (tus clientes)
      allow create: if true; 
      
      // Solo tú (autenticado) puedes leer o borrar los pedidos
      // Si no usas Firebase Auth todavía, cámbialo a 'if true' temporalmente para leerlos
      allow read, delete: if request.auth != null;
      
      // Nadie puede editar un pedido una vez enviado para evitar fraudes
      allow update: if false;
    }

    // Regla global de seguridad: denegar todo lo demás por defecto
    match /{document=**} {
      allow read, write: if false;
    }
  }
}